*{
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	font-family:Open Sans;
}
header{
	background-color: hotpink;
	height:20%;
	background-image: url(Castle.png);
	background-position:center;
}
nav{
	background-color:blue;
	height:3%;
}
article{
	background-color:gold;
	height:72%
}
footer{
	background-color:lightgray;
	height:5%;
}
li{
	width:30%;
	height:100%;;
	display:inline-block;
	position:relative;
	left:35%;
	top:30%;
	text-align:center;
}
ul{
	width:50%;
	height:100%;
	display:inline-block;
}
h1{
	width:50%;
	position:relative;
	left:15%;
	top:30%;
}
.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card {
  background: darkgray;
  border-radius: 2px;
  display: inline-block;
  position: relative;
}