*{
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	font-family:Open Sans;
	color:#0D0106;
}
body{
	background-color:#424242;
}
::-webkit-scrollbar {
    display: none;
}
}
header{
	background-color: hotpink;
	height:20%;
	background-image: url(Castle.png);
	background-position:10% 30%;
}
nav{
	background-color:#A9A9A9;
	height:4%;
}
a{
	text-decoration:none;
}
article{
	background-color:#424242;
	height:80%
}
footer{
	background-color:#3626A7;
	height:8%;
	position:relative;
	bottom:-50%;
	color:#FFFFFF;
}
.footer-text{
	text-align:center;
	width:50%;
	position:relative;
	left:10%;
	height:30%;
	top:50%;
	color:#FFFFFF;
}
.footer-link{
	margin-left:5%;
	color:#FFFFFF;
	
}
.social{
	width:25%;
	height:40%;
	float:left;
	position:relative;
	left:1%;
	top:20%;
}
.social-image{
	width:10%;
	height:100%;
	margin:2%;
}
li{
	width:30%;
	height:50%;
	display:inline-block;
	text-align:center;
}
ul{
	width:50%;
	position:relative;
	left:25%;
	top:25%;
	height:100%;
	display:inline-block;
}
h1{
	width:50%;
	position:relative;
	left:16%;
	top:40%;
}
h3{
	height:10%;
	padding:1%;
	margin:1%;
}
.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card {
  border-radius: 2px;
  display: inline-block;
  position: relative;
}
.content-container{
	background-color:#4BA2EA;
	width:60%;
	height:20%;
	position:relative;
	left:16%;
	top:6%;
	padding:2%;
	margin:2%;
}
.list{
	display:inline-block;
	padding:2%;
	margin:2%;
	height:10%;
	width:25%;
}
.facilities{
	height:40%;
}
.faci{
	width:20%;
	height:7%;
	margin-top:1%;
	position:relative;
	left:37.5%;
	
	text-align:center;

}
.row{
	width:100%;
	height:50%;
	display:inline-block;
	position:relative;
	left:2%;
	top:2%;
}
.col{
	width:60%;
	height:80%;
	display:inline-block;
	position:relative;
	left:15%;
}

.colh{
	width:100%;
	height:70%;
	display:inline-block;
	
}
.rowhr{
	width:50%;
	height:50%;
	
	position:relative;
	left:50%;
	top:-70%;

}
.rowhl{
	width:40%;
	height:100%;
	background-color:gold;
}
.pic{
	width:100%;
	height:100%;
}
.content-container-form{
	background-color:#4BA2EA;
	width:60%;
	height:105%;
	position:relative;
	left:16%;
	top:6%;
	padding:2%;
	margin:2%;
}
.content-container-header{
	background-color:#4BA2EA;
	width:60%;
	height:5%;
	position:relative;
	left:16%;
	top:6%;
	padding:2%;
	margin:2% 2% 5%;
}
form{
	height:100%;
	width:80%;
	position:relative;
	left:10%;
	
}
textarea{
	height:10%;
	width:100%;
}
button{
	height:10%;
	width:100%;
}
.frm-h{
	text-align:center;
	margin:0%;
	padding:0%;
	position:relative;
	top:30%;
}
.frm{
	margin:0%;
	padding:0%;
	text-align:center;
	height:5%;
	width:80%;
	position:relative;
	left:10%;
	font-size:20px;
}
input{
	height:5%;
	margin-bottom:5%;
}
.sidel{
	width:10%;
	position:fixed;
	top:30%;
	left:3.5%;
	background-color:red;
	height:50%;
	background-image:url(tall.jpg);
	background-position:80% 50%;
}
.sider{
	width:10%;
	position:fixed;
	top:30%;
	right:3.5%;
	background-color:red;
	height:50%;
	background-image:url(tall.jpg);
	background-position:80% 50%;
}

@media (prefers-color-scheme: light) {
	body{
		background-color:#FFFFFF;
	}
	article{
		background-color:#FFFFFF;
	}
	header{
		background-color: hotpink;
		height:20%;
		background-image: url(Castle.png);
		background-position:10% 30%;
	}
}

@media (prefers-color-scheme: dark) {
	body{
		background-color:#424242;
	}
	aritcle{
		background-color:#424242;
	}
	header{
		background-color: hotpink;
		height:20%;
		background-image: url(night.jpg);
		background-position:10% 30%;
	}
}